.change-password-form {
   padding: 20px 15px;

   // todos los h4 que encuentre dentro:
   > h4 {
      color: $primary;
      font-size: 22px;
   }

   > form {
      text-align: center;

      .submit {
         padding: 13px 60px;
      }
   }
}
